* {
    font-family: 'Open Sans';
    text-decoration: none;
}

body {
    margin: auto;
}

.home_page {
    display: flex;
    padding: 40px 373px 100px 373px;
    flex-direction: row;
    align-items: flex-start;
    gap: 84px;
    background: #FFF;
    justify-content: center;
}

.top_menu {
    display: flex;
    align-items: center;
    gap: 460px;
}

.top_logo {
    display: flex;
    width: 137px;
    height: 40px;
    padding-right: 1px;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.up_logo_growbe {
    width: 85px;
    height: 17px;
    flex-shrink: 0;
}

.header {
    display: flex;
    /* align-items: flex-start; */
    gap: 15px;

}

.header_1 {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.style_header_1 {
    color: #F25822;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header_2 {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.style_header_2 {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: nowrap;
}

.home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.title {
    align-self: stretch;
}

.title_title_1 {
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 72px */
}

.title_title_2 {
    color: #888;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 28px */
}

.button {
    display: flex;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.button_1 {
    display: flex;
    width: 140px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button_2 {
    color: #AAA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.title_button_text {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.brand_logo {
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background: #FFF;
    flex-wrap: wrap;
}

.top_logo_1 {
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.bloc_content {}

.features {
    display: flex;
    padding: 100px 150px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    flex-wrap: wrap;
    background: #FFF;
}

.features_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.features_content_2 {
    display: flex;
    padding: 40px 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features_icon {
    width: 70px;
    height: 70px;
}

.features_h1 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.features_p {
    width: 310px;
    height: 42px;
    color: #666;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

.features_h2 {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 21px */
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;
}

.services_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.services_top_h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 57.6px */
    gap: 24px;
}

.services_h1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services_p {
    align-self: stretch;
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

.services_top_p {
    width: 740px;
    color: #888;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 22.4px */
}

.services_cont {
    display: flex;
    padding: 50px 150px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #FAFAFA;
}

.services_content {
    display: flex;
    padding: 0px 34px 34px 34px;
    width: 378px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.images_content {

    width: 100%;
    /* flex-shrink: 0; */
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.button_content {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.button_text {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}